//Center Mixin
.center(){
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

//Button Mixin
.button-mixin(@btn-size, @button-bg, @main-bg, @btn-padding) {
    .center;
    .btn-radius(10px);
    font-size: @btn-size;
    background-color: @button-bg;
    color: @main-bg;
    border: 1px solid @navigation-border;
    padding:@btn-padding;
}

//Nav Mixin

.nav-mixin(@nav-size, @font-color, @nav-padding){
    .center;
    font-size: @nav-size;
    color: @font-color;
    padding: @nav-padding;
}